.topic__post-header-edit
  %span1 投稿者:
  =link_to user_path(@topic.user.id), class: 'user__nickname-header-edit' do
    = @topic.user.nickname
  %span2  編集
      
.topic__post-edit
  -if @topic.post?
    -if @topic.post.file.content_type.include?('image/')
      .topic__edit-flame
        =image_tag @topic.post.url, class: 'post__prev-edit'
    -else
    .topic__edit-flame
      =video_tag @topic.post.url, controls: true, autobuffer: true, class: 'post__prev-edit'


.topic__text-edit
  %br/
  .topic__user-name-edit
    =@topic.user.nickname
    %span ...
  %br/
  %br/
  .topic__form-edit
    = form_for(@topic, html: { multipart: true }) do |f|
      =f.label :post, class: 'topic__post-label-edit' do
        =icon 'fas', 'braille'
        = f.file_field :post,class: 'topic__post-field-edit' 
      = f.text_area :text, placeholder: 'テキスト', class: 'topic__text-field-edit'
      %br/
      %br/
      %br/
      %br/
      = f.submit "更新する", class: 'topic__submit-btn-edit'
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
  

.footer__nav-show
  =render 'shared/footer_nav'

  
  



:javascript
  $(function(){
    function readURL(input){
      if(input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function(e){
          $('.post__prev-edit').attr('src',e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $('.topic__post-field-edit').change(function(){
      readURL(this);
    });
  });