= form_with model: @topic, local: true  do |form|
  = form.text_area :text
  %br/
  = form.file_field :image
  %br/
  = form.submit

=link_to "home", root_path, class: 'new__root-btn'


.footer__nav-new
  = render 'shared/footer_nav'
