.topic__post-content
  .topic__post-form
    = form_for(@topic, html: { multipart: true }) do |f|
      =f.label :post, class: 'topic__post-label' do
        =icon 'fas', 'plus-square'
        = f.file_field :post, accept: 'image/jpeg,image/gif,image/png,video/*', class: 'topic__post-field' 
      %span
      = f.text_area :text, placeholder: 'テキスト', class: 'topic__text-field'
      %br/
      = f.submit "投稿する", class: 'topic__submit-btn'
  
  .topic__post-prev
    -if @topic.post.present?
      -if @topic.post.file.content_type.include?('image/')
        =image_tag @topic.post.url, widht: '100px', height: '100px', class: 'post_prev'
      -else
        =image_tag "no-image.png", width: '700px', height: '400px', class: 'post_prev'
    -else
      =image_tag "no-image.png", width: '700px', height: '400px', class: 'post_prev'

.footer__nav-new
  = render 'shared/footer_nav'


:javascript
  $(function(){
    function readURL(input){
      if(input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function(e){
          $('.post_prev').attr('src',e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $('.topic__post-field').change(function(){
      readURL(this);
    });
  });
