.user__header-show
  = @user.nickname

.user__content-show
  .user__content-left
    -# =image_tag current_user.image.url
    .user__img-icon
      = form_for(@user) do |f|
        = f.label :image, class: 'img__label-show' do
          =icon 'fas', 'clone', class: 'clone-icon'
          =f.file_field :image

  .user__content-right
    .user__nickname-show
      = @user.nickname
    .user__email-show
      = current_user.email
    .user__status-show
      .topics__status
        2
        %p topics
      .following__status
        12
        %p following
      .followers__status
        12
        %p followers
    .user__follow-btn
      %button{type: 'submit', class: 'follow__btn-show'}
        follow


.user__topics-content
  .topics__navbar
    %button{type: 'button', class: 'image__btn'}
      Images
    %button{type: 'button', class: 'video__btn'}
      Videos
  .topics__contents

.user__nav-show
  = render 'shared/footer_nav'
